
/* Border box at the top of the page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font size */
html{
    scroll-behavior: smooth;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

/* Removes the underline for hyperlinks */
a{
    text-decoration: none;
}

/* Heading */
.name{
    color: teal;
    padding: 15px 0px 15px 15px; /* moves clockwise */
    font-size: 1.75em; /* Scale relative to 20px global font size */
}

/* Calls the navbar class */
.navbar{
    display: flex; /* Puts items in one row */
    justify-content: space-between;
    height: 10vh; /* Takes 10% of viewport height */
    background-color: beige;
}

.list{
    display: flex;
    padding: 20px 15px 10px 10px;
    gap: 15px; /* horizonotal spacing between items */
}

.list-items a{
    color: black;
    font-size: 0.8em;
}

/* Style paragraphs */
p {
    box-sizing: content-box;
    padding: 50px 50px 30px 10px;
    font-size: 0.75em;
    color: grey;
    line-height: 1.3;
    padding-inline-start: 0;
}


.project{
    font-size: 0.8em;
}

ul{
    list-style: none;
}

.image-grid{
    --gap: 70px; /* Sets a variable */
    --num-cols: 3;
    --row-height: 100px;

    box-sizing: border-box; /* Considers pre-defined border padding */
    padding: 100px;

    display: grid;

    /* Set a 2x2 grid */
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: repeat(var(--row-height), 1fr);
    grid-gap: var(--gap);

}

/* Target images */
.image{
    /* Preserves the width, adjusts height */
    width: 100%;
    height: auto;
    object-fit: cover; 
}

/* Adjust to screen which is less than 1024 px */
@media screen and (max-width: 1024px){
    .image-grid{
        --num-cols: 2;
        --row-height: 100px;
    }
}


