/* Border box at the top of the page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font size */
html{
    scroll-behavior: smooth;
    font-size: 2.7vh; /* 2.7x viewport height */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212121;
}

/* Removes the underline for hyperlinks */
a{
    text-decoration: none;
}

u{
    color:lightblue;
}

.hyperlink{
    color: lightblue;
    text-decoration: underline;
}

.emphasized{font-style: italic}

/* Heading */
.name{
    color: rgb(9, 98, 9);
    padding: 2vh 0px 15px 2vh; /* moves clockwise */
    font-size: 1.75em; /* Scale relative to global font size */
    letter-spacing: 0.16vh;
}

.footer{
    display: flex; /* Puts items in one row */
    justify-content: space-between;
    height: 9vh;
    background-color: rgb(68, 68, 68);
}

.footer-text{
    color: rgb(186, 186, 186);
    font-size: .9em;
    align-self: center;
}

/* Calls the navbar class */
.navbar{
    display: flex; /* Puts items in one row */
    justify-content: space-between;
    height: 10vh;
    background-color: beige;
}

.list{
    display: flex;
    padding: 3vh 2vh 10px 10px;
    gap: 2vh; /* horizonotal spacing between items */
}

.pointers{
    list-style: none;
    padding-left: 30px;
}

.bullet_point{
    color: white;
}


.list-items a{
    color: black;
    font-size: 2.7vh;
}

/* Style paragraphs */
p {
    box-sizing: border-box;
    padding: 7px 9.5vh 10px 30px;
    font-size: 0.87em;
    color: rgba(193, 188, 188, 0.945);
    line-height: 1.5;
    text-wrap: wrap;
    margin-right: 70px;

}

h1{
    box-sizing: border-box;
    padding: 20px 0.5vh 2px 30px;
    color:  #0f90db;
    font-size: 1.15em;
}

h2{
    box-sizing: border-box;
    padding: 2px 0.6vh 8px 30px;
    color: grey;
    font-size: 0.87em;
}

h3{
    box-sizing: border-box;
    padding: 15px 0.1em 10px 30px;
    color: blanchedalmond;
    font-size: 0.9em;
}

.subtitle{
    font: 0.7em;
    padding-top: 5px;
    color: grey;
}

.specifics{
    padding-left: 15px;
}


ul{
    list-style: none;
}


.image-grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 45px 100px 100px 100px;
    gap: 120px;
}


.photography-grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    padding: 30px 150px 100px 100px;
    gap: 100px;
}

.image{
    height: 300px;
    object-fit: contain;
}

.profile-img{
    width: 300px;
    margin-right: 35px;
    object-fit: contain;
}

.portrait{
    width: 370px;
    object-fit: contain;
}

.portrait-2{
    width: 340px;
    object-fit: contain;
    margin-left: 2.5vh;
}

.landscape{
    width: 590px;
    object-fit: contain;
}

.stress-img{
    width: 460px;
    object-fit: contain;
}


.landscape-grid{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
    padding: 1em 11vh 2.5em 11vh;
    gap: 30px;
}

.portrait-grid{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
    padding: 2em 11vh 5vh 11vh;
    gap: 2vh;
}

.portrait-grid-2{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
    padding: 2em 11vh 5vh 11vh;
    gap: 2vh;
}


.profile-grid{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 6vh 2vh 239px 4vh;
}

.profile-description{
    text-wrap: wrap;
    padding-left: 1vh;
    padding-right: 1vh;
}

figure{
    margin: auto;
    padding: 5 px;
}

figcaption{
    color: #ebba34ef;
    text-align: center;
    padding-top: 10px;
    font-size: 17.5px;
}


.project-img{
    height: 34vh;
    object-fit: contain;
}

.project-img-2{
    height: 45vh;
    object-fit: contain;
}

.laser-img{
    height: 200px;
    object-fit: contain;
}

.accelerometer-img{
    height: 36vh;
    object-fit: contain;
}

.lower-airframe-img{
    height: 255px;
    object-fit: contain;
}

.wind-tunnel-img{
    height: 270px;
    object-fit: contain;
}


.wind-tunnel-img-2{
    width: 300px;
    object-fit: contain;
}

.slender-img{
    height: 350px;
    object-fit: contain;
}

.slender-img-2{
    height: 330px;
    object-fit: contain;
}

.strut-mesh-img{
    width: 380px;
    object-fit: contain;
}

.strut-portrait-img{
    width: 350px;
    object-fit: contain;
}

.fea-portrait-img{
    width: 400px;
    object-fit: contain;
}

.project-img-2{
    width: 390px;
    object-fit: contain;
}


.strut-img{
    width: 350px;
    object-fit: contain;
}


.project-img-3{
    width: 455px;
    object-fit: contain;
}

.project-img-4{
    width: 450px;
    object-fit: contain;
}

.flutter-img{
    width: 430px;
    object-fit: contain;
}

.photography-img{
    height: 290px;
    object-fit: contain;
    
}

.logo-img{
    width: 120px;
    object-fit: contain;
}

.bullet-points{
    color: white;
}


.logo2-img{
    height: 100px;
    object-fit: contain;
}

.project-img-4{
    padding-top: 20px;
    width: 390px;
    object-fit: contain;
}

.fin-img{
    width: 450px;
    object-fit: contain;
    padding-left: 70px;
}

.project-img-5{
    height: 38vh;
    object-fit: contain;
}

.strut-cover-img{
    height: 330px;
    object-fit: contain;
}

.slender-img-mfg{
    height: 315px;
    object-fit: contain;
}

.engineering-drawing{
    width: 400px;
    object-fit: contain;
}

.machining-img{
    width: 550px;
    object-fit: contain;
}

.machining-img-2{
    width: 450px;
    object-fit: contain;
}

.project-img-caption{
    font-size: 0.85em;
    padding-top: 5px;
    padding-bottom: 20px
}

.project-img-caption-2{
    font-size: 0.85em;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 100px;
}

.project-img-caption-3{
    font-size: 0.85em;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-right: 100px;
}


.project-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 35px 35px 5px;
}

.photo-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em 11vh 5vh 11vh;
}

.profile-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 40px 160px 35px;
}

.project-div-2{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 80px 195px 5px;
}

.project-div-4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 80px 80px 5px;
}

.project-div-5{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px 15px 5px;
}

.project-div-6{
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 10px 50px 250px 5px;
}

.laser-fig{
    margin-right: 190px;
}

.project-img-grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 5px 5px 0px 0px;
}

.wind-tunnel-img-grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px 5px 10px 0px;
    gap: 5px;
}

.research-img-grid{
    display: flex;
    flex-flow: wrap;
    padding: 0px 5px 5px 0px;
    gap: 35px;
}

.wind-tunnel-img-grid-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 40px 0px 5px 0px;
}

.wind-tunnel-fig{
    margin-right: 60px;
}

.strut-img-grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    gap: 45px;
}

.machining-cover-img{
    margin-left: 180px;
}

.strut-img-grid-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    margin-right: 100px;
    gap: 130px;
}

.fea-mesh-grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 50px 20px 0px 0px;
    gap: 50px;
}

.lower-airframe-grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    gap: 5px;
}

.project-img-grid-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    gap: 50px;
    padding-top: 45px;
}


.project-img-grid-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 20px 0px 0px;
}

.project-img-grid-4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    padding-top: 70px;
    gap: 50px;
}

.project-img-grid-5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 0px 20px 10px 0px;
    gap: 35px;
}


.project-vid-grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px 70px 35px 10px;
    gap: 70px;
    margin-left: 80px;
    flex-shrink: 5;
}

.machining-img-grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 95px 5px 0px 0px;
    gap: 20px;
}

.machining-img-grid-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 10px 10px 5px 5px;
    gap: 30px;
}


.project-description{
    margin-right: 30px;
    width: 42%;
}

.project-description-1{
    width: 37%;
}

.project-description-2{
    margin-right: 5px;
    width: 65%;
}

.project-description-3{
    margin-right: 5px;
    width: 50%;
}

.project-description-4{
    margin-right: 5px;
    width: 60%;
}

.project-description-5{
    margin-right: 5px;
    width: 100%;
}

.photo-description{
    width: 100%;
    padding: 1em 1vh 0 1vh;
}

.horiz_section{
    margin-right: 5px;
    width: 70%;
}

.engineering-dwg-grid{
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.bullet-points{
    padding-left: 2em;
}

/* Adjust to screen which is less than 1170 px */
@media screen and (max-width: 1100px){

    .menu-sandwich{
        width: 30px;
        display: block;
        margin: 1em 0em 0em 1em;
    }
    
    .menu-line{
        height: 4px;
        background-color: #212121;
        margin: 5px 0px;
        border-radius: 25px;
    }

    .image-grid{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 80px;
        padding: 10px 30px 60px 30px;
    }

    h1{
        font-size: 1.1em;
        padding-left: 4vh;
    }

    h2{
        padding-left: 4vh;
    }

    h3{
        padding-left: 4vh;
    }

    p {
        box-sizing: border-box;
        padding: 7px 1.5vh 10px 30px;
        font-size: 0.85em;
        color: rgba(193, 188, 188, 0.945);
        line-height: 1.5;
        margin-right: 70px;
        overflow-y: wrap;
    }

    .name{
        font-size: 1.75em;
        padding-top: 20px
    }

    
    figcaption{
        color: #ebba34ef;
        text-align: center;
        padding-top: 10px;
        font-size: 16px;
    }

    .list{
        font-size: 0.3em;
    }
        
    .list-items a{
        color: black;
        font-size: 2.7vh;
    }

    .project-div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 20px 0px 0px;
        align-items: center;
    }
    
    .project-div-2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 20px 0px 0px;
        align-items: center;
    }

    .project-div-3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 20px 0px 0px;
        align-items: center;
    }

    .project-div-4{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 20px 0px 0px;
        align-items: center;
    }

    .project-div-5{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 20px 180px 0px;
        align-items: center;
    }

    .project-div-6{
        display: flex;
        align-items: center;
        flex-flow: wrap;
        justify-content: space-between;
        padding: 0px 20px 250px 0px;
    }

    .lower-airframe-grid{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: wrap;
        padding: 15px 5px 5px 0px;
    }

    .strut-img-grid{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: wrap;
        padding: 25px 0px 0px 0px;
        gap: 50px;
    }

    .fea-mesh-grid{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: wrap;
        margin-left: 50px;
        gap: 0px;
    }

    .machining-img-grid{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: wrap;
        padding: 20px 20px 0px 70px;
        gap: 37px;
    }
    

    .wind-tunnel-img-grid{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: wrap;
        padding-left: 10px;
        gap: 25px;
    }

    .wind-tunnel-img-grid-2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: wrap;
        padding: 5px 0px 0px 50px;
        gap: 35px;
    }

    .engineering-dwg-grid{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 15px 0px 5px 25px;
        gap: 10px;
    }

    .project-img-grid-4{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px 30px 15px;
        gap: 5px;
    }
    
    .project-img-grid-5{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 15px 25px 30px 40px;
        gap: 10px;
    }

    .project-img-grid-3{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 10px 0px 0px 22px;
    }

    .research-img-grid{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 15px 20px 10px 30px;
        gap: 10px;
    }

    .profile-div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 35px 0px 20px 6px;
    }

    .project-vid-grid{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 15px 70px 35px 30px;
        gap: 10px;
        margin-left: 30px;
    }

    .engineering-drawing{
        width: 250px;
    }

    .profile-description{
        text-wrap: wrap;
    }
    

    .project-description{
        margin-left: 20px;
        margin-right: 0px;
        width: 105%;
        padding-bottom: 20px;
    }

    .project-description-1{
        margin-left: 20px;
        margin-right: 0px;
        width: 105%;
        padding-bottom: 20px;
    }    
    
    .project-description-2{
        margin-right: 0px;
        width: 105%;
        margin-left: 20px;
        padding-bottom: 10px;
    }

    .project-description-3{
        margin-right: 0px;
        width: 105%;
        margin-left: 20px;
        padding-bottom: 10px;
    }

    .project-description-4{
        width: 105%;
        margin-left: 20px;
        padding-bottom: 10px;
    }

    .project-description-5{
        margin-right: 0px;
        width: 105%;
        margin-left: 20px;
        padding-bottom: 10px;
    }

    .project-img-2{
        width: 330px;
    }

    .strut-portrait-img{
        width: 300px;
    }

        
    .project-img-4{
        width: 300px;
        object-fit: contain;
        margin-right: 25px;
    }

    .strut-img{
        width: 320px;
    }

    .lower-airframe-img{
        height: 210px;
        object-fit: contain;
    }

    .project-img-caption{
        font-size: 0.82em;
        padding-top: 5px;
        padding-bottom: 55px
    }

    .project-img{
        height: 27.5vh;
        object-fit: contain;
        padding-left: 10px;
    }

    .project-img-3{
        width: 16em;
        object-fit: contain;
    }

    .project-img-5{
        height: 27vh;
        object-fit: contain;
        padding-left: 10px;
    }

    .strut-mesh-img{
        height: 20vh;
        object-fit: contain;
        padding-left: 35px;
    }

    .accelerometer-img{
        height: 36vh;
        object-fit: contain;
        margin-left: 25px;
    }

        
    .machining-cover-img{
        margin-left: 16vw;
    }

    .strut-mesh-cover-img{
        margin-left: 27vw;
    }

    .photography-img{
        height: 170px;
        object-fit: contain;
    }

    .stress-img{
        width: 330px;
    }
    
    .slender-img{
        height: 290px;
        object-fit: contain;
    }

    .slender-img-mfg{
        height: 290px;
        object-fit: contain;
    }

    .strut-cover-img{
        height: 270px;
        object-fit: contain;
    }

    .portrait-grid{
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        align-items: center;
        padding: 2em 11vh 5vh 7vh;
        gap: 10vh;
    }

    .project-img-grid-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding-top: 0px;
        gap: 20px;
    }
    
    .strut-img-grid-2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 135px;
        gap: 10px;
    }

    .wind-tunnel-img{
        height: 220px;
        object-fit: contain;
    }

    .wind-tunnel-img-2{
        width: 280px;
        object-fit: contain;
    }
    

    .flutter-img{
        width: 16em;
        object-fit: contain;
    }
    

    .portrait{
        width: 280px;
    }

    .portrait-2{
        width: 260px;
        padding-left: 0.5vh;
    }

    .landscape-grid{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding: 2em 11vh 5vh 3.5vh;
        gap: 50px;
    }

    .photography-grid{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 30px 200px 50px 50px;
        gap: 50px;
    }

    .portrait-grid-2{
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        align-items: center;
        padding: 2em 11vh 5vh 6vh;
        gap: 10vh;
    }
    

    .image-grid-2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 10px 200px 50px 50px;
        margin-left: 5px;   
    }

    .landscape{
        width: 330px;
        object-fit: contain;
    }
    

    .laser-img{
        height: 150px;
        object-fit: contain;
    }

    .image{
        height: 200px; /* Width will adjust automatically to maintain aspect ratio */
        object-fit: contain;
    }

    .image-2{
        height: 250px; /* Width will adjust automatically to maintain aspect ratio */
        object-fit: contain;
    }

    .laser-fig{
        margin-left: 150px;
    }

    .profile-img{
        max-width: 250px;
        margin-left: 30px;
        padding-bottom: 10px;
    }

    .footer{
        display: flex; /* Puts items in one row */
        justify-content: space-between;
        height: 11vh;
    }
    
    .footer-text{
        color: rgb(186, 186, 186);
        font-size: .8em;
        align-self: center;
    }
}